body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* Dark background color */
}

.container {
    text-align: center;
}

.page-title {
    color: white; /* Text color */
    background-color: #333; /* Dark background color */
    padding: 10px;
    font-size: 36px;
}

.shapes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.student-name {
    margin-top: 10px;
    text-align: center;
}

.shape:hover {
    transform: scale(1.1);
}
/* Circle to Square Animation */
.circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    transition: all 0.3s;
  }

.circle:hover {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 0;
  }
  /*Triangle to Square animation*/
.square {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 213, 255);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all 0.3s;
  }

.square:hover {
    background-color: rgb(200, 255, 0);
    transform: rotate(270deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }