body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* Dark background color */
}

.container {
    text-align: center;
}

.page-title {
    color: white; /* Text color */
    background-color: #333; /* Dark background color */
    padding: 10px;
    font-size: 36px;
}

.shapes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.student-name {
    margin-top: 10px;
    text-align: center;
}

.shape:hover {
    transform: scale(1.1);
}

.shapes-container div {
    margin: 20px;
}

/* Circle to Square Animation (Chloe) */
.circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    transition: all 0.3s;
  }

.circle:hover {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 0;
}

/* Triangle to Square animation (Ben) */
.triangle {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 213, 255);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all 0.3s;
}

.triangle:hover {
    background-color: rgb(200, 255, 0);
    transform: rotate(270deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Square Animation (Irfan) */
.square {
    width: 100px;
    height: 100px;
    background: purple;
    transition: all 0.5s ease; /* Slower transition with ease timing function */
    box-shadow: none;
}

.square:hover {
    background: linear-gradient(to bottom right, lightblue, blue);
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1); /* Slightly larger size on hover */
    transition: all 0.3s ease-in-out;
}

/*Pentagon to Square Animation (Yasmin) */
.pentagon {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 230);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transition: all 0.3s;
}
.pentagon:hover {
    width: 100px;
    height: 100px;
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(255, 145, 0);
}